table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #c9dd23;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dd3ac7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4649ff;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #fffdfe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #468f22;
}